/* From Uiverse.io by mrhyddenn */
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;

  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Container */
.modal-container {
  background-color: #0e0e0e;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: modal-in 0.3s ease-out;
}

/* Modal Content */
.modal-content h2 {
  font-size: 24px;
  font-weight: 600;
  color: #ffff;
  margin-bottom: 16px;
  text-align: center;
}

/* Input Group */
.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 16px;
  color: #ffff;
  margin-bottom: 8px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px;
  background-color: #edf2f7;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #f6ad55;
}

/* Submit Button */
.submit-btn {
  background-color: #f6ad55;
  color: #ffff;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #ed8936;
}

/* Close Button */
.close-btn {
  background-color: transparent;
  border: none;
  color: #ffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 8px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #e53e3e;
}

/* Modal Animation */
@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
textarea {
  resize: none;
}
